{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="row justify-content-center">
    <div class="col-8 mt-5 p-5" style="background-color: rgb(182, 182, 182);">
        <h2>Ürün Ekle</h2><hr>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <select class="form-select mb-3" name="category" aria-label="Default select example">
                <option selected>Kategori Seç</option>
                
                {% for category in categorylist %}
                <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
                    
            </select>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ürün Adı</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Ürün Adı">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Ürün Açıklaması</label>
                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="validationDefault05" class="form-label">Ürün Fiyatı</label>
                <input type="number" name="priece" class="form-control" id="validationDefault05" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Ürün Fotoğrafı</label>
                <input class="form-control" name="image1" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Ürün Fotoğrafı</label>
                <input class="form-control" name="image2" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Ürün Fotoğrafı</label>
                <input class="form-control" name="image3" type="file" id="formFile">
            </div>
            <button type="submit" class="btn btn-success">Ekle</button>
        </form>
    </div>
</div>
    
{% endblock body %}
    