{% extends 'base.html' %}
{% load static %}


{% block body %}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Tüm Ürünlerim</h1>
                <p class="lead text-muted"></p>
                <p>
                    <a href="{% url 'createProduct' %}" class="btn btn-primary my-2">Ürün Ekle</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        
                        
                        {% if product.image1 %}
                        <img src="{{ product.image1.url }}" alt="" style="width: 100%; height: 300px; min-height: 300px; max-height: 300px; object-fit: contain;">
                        {% endif %}
                            
                        
                        <div class="card-body" style="width: 100%; height: 200px;">
                            <h4>{{ product.title }}</h4>
                            <p class="card-text">{{ product.text|truncatechars:100 }}</p>
                            <span href="#" class="text-primary fs-3">{{ product.priece }} tl</span><br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'detail' product.id %}" type="button" class="btn btn-sm btn-outline-secondary">Görüntüle</a>
                                    <a href="{% url 'updateProduct' product.id %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <a href="" class="text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.id }}" style="text-decoration: none;">Kaldır</a>

                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ product.title }} Kaldır</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Ürünü kaldırmak istediğine emin misin?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'deleteProduct' product.id %}" type="button" class="btn btn-danger">Evet</a>
                                                
                                                {% comment %}
                                                <!-- <a href="/deleteproduct/{{ product.id }}/" type="button" class="btn btn-danger">Evet</a> -->
                                                {% endcomment %}
                                                    
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                    
                
            </div>
        </div>
    </div>

</main>
    
{% endblock body %}
    