{% extends 'base.html' %}
{% load static %}


{% block body %}
    

<div class="container">
    <div class="row">
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for user in alluser %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock body %}
    